/* Toggle styles */
.toggle-checkbox:checked + .toggle-label .toggle-thumb {
  transform: translateX(100%);
}

.toggle-checkbox:checked + .toggle-label > span:first-child {
  background-color: #68D391; /* Tailwind color for green-400 */
}

.toggle-checkbox:checked + .toggle-label .toggle-thumb {
  background-color: white;
}

.select-user-country, .select-user-type, .select-category, .select-size, .select-variant-size {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#createProductModal {
  max-height: 90vh; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Content inside the modal */
.bg-white {
  max-height: 100%; /* Ensure modal content does not exceed the container */
  overflow-y: auto; /* Enable vertical scrolling for the content */
}

.select2-container--default .select2-selection--single {
  height: 40px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 6px 15px;
  font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 27px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
  right: 10px;
}

.select2-container--default .select2-results__option {
  padding: 10px;
}

.select2-container .select2-search--dropdown .select2-search__field {
  margin: 10px;
  width: 93%;
  padding: 7px;
  align-items: center;
  border-radius: 5px;
}

.pagination .current {
  background-color: #3b82f6; /* bg-blue-500 */
  color: white;
}
